websocket-client==1.5.2
python-telegram-bot==20.3
requests==2.31.0
pydub==0.25.1
elevenlabs==1.50.3
websockets==11.0.3
openai
httpx==0.24.0
pymongo==4.4.1
pytest==7.4.2 
python-dotenv==1.0.0 
